// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-like="true"] {
  color: red;
}

.like-button {
  cursor: pointer;
  text-decoration: none;
}

.like-button:hover {
  text-decoration: none;
}

.like-button:visited {
}
